/**************************
 * special style
 **************************/
.v-button-special:focus {

}

.v-button-special:focus .v-button-wrap {

}

.v-button-special:active,
.v-pressed.v-button-special {

}

.v-button-special:active .v-button-wrap,
.v-pressed.v-button-special .v-button-wrap {

}

.v-button-special:active .v-button-caption,
.v-pressed.v-button-special .v-button-caption {
    color: green;
}

.v-button-special {
    background: white;
    height: 27px;
}

.v-disabled.v-button-special {
    padding-top: 10px;
    background: white;
    height: 47px;
    opacity: 1;
    filter: none;
    /*    position: relative;*/
}

.v-button-special .v-button-wrap {
    padding: 5px 13px 0px 13px;
    background: white;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    text-decoration: none;
    color: rgb(51, 51, 51);
    border: 0px solid rgb(51, 51, 51);
}

.v-disabled.v-button-special .v-button-wrap {
    padding: 5px 13px 0px 13px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: rgb(255,255,255);
    text-shadow: -1px -1px rgb(200,200,200);
    background: none  repeat scroll 0% 0% rgb(51, 51, 51);
    border: 0px solid rgb(51, 51, 51);
}


.v-disabled.v-button-special:after {
    border-width: 10px 10px 0pt;
    border-style: solid; 
    border-color: rgb(51, 51, 51) transparent transparent;
    content: ""; 
    display: block; 
    height: 0pt; 
    margin: auto;
    width: 0pt; 
    z-index: 20;
}


.v-button-special .v-button-caption {
    color: #333;
    font-weight: normal;
}

.v-disabled.v-button-special .v-button-caption {
    color: white;
    text-shadow: none;
    font-weight: bold;
}


/********************************
 * "with-icon" style
 ********************************/
.v-button-special.with-icon .v-button-wrap {
    padding-left: 8px;
}
