@import "../reindeer/styles.css";

@import "button/button.css";
@import "window/window.css";
@import "layout/layout.css";

.v-app {
    background: #FFFFFF;
}

.v-disabled {
	opacity: .6;
	filter: alpha(opacity=60);
	cursor: default;
}

.v-sa .v-app,
.v-sa .v-window,
.v-sa .v-popupview-popup,
.v-sa .v-tooltip,
.v-sa .v-app input,
.v-sa .v-app select,
.v-sa .v-app button,
.v-sa .v-app textarea,
.v-sa .v-window input,
.v-sa .v-window select,
.v-sa .v-window button,
.v-sa .v-window textarea,
.v-sa .v-popupview-popup input,
.v-sa .v-popupview-popup select,
.v-sa .v-popupview-popup button,
.v-sa .v-popupview-popup textarea,
.v-sa .v-filterselect-suggestpopup,
.v-sa .v-datefield-popup,
.v-sa .v-contextmenu,
.v-Notification,
.v-menubar-submenu {
    font-family: Arial, Helvetica, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
}

.v-horizontallayout-buttonbar{
    background: transparent url(layout/img/toolbar-invert-bg.png) repeat-x;
    border-top: 1px solid #5b5d5e;
    border-bottom: 1px solid #5b5d5e;
}

.buttonbar .v-horizontallayout-margin-top {
    padding-top: 6px;
}

.buttonbar .v-horizontallayout-margin-bottom {
    padding-bottom: 6px;
}

.buttonbar .v-horizontallayout-margin-left {
    padding-left: 6px;
}

.buttonbar .v-horizontallayout-margin-right{
    padding-right: 6px;
}

.v-horizontallayout-menubar, .v-verticallayout-menubar{
    background-color: #323336;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-image: url("../reindeer/common/img/vertical-sprites.png");
    background-position: left -383px;
    color: #d1d3d6;
}


.v-menubar-menuitem-blue {
    color: #1c9cff;
}

.v-menubar-menuitem-blue-bold {
    font-weight: bold;
    color: #1c9cff;
}

.v-menubar-menuitem-red {
    color: red;
}

.v-menubar-menuitem-red-bold {
    font-weight: bold;
    color: red;
}

.v-menubar-menuitem-actor {
    font-weight: bold;
    color: whitesmoke;
}
