
/processbase-bpm-portlets-3.0/target
/processbase-engine-bam-3.0/target
/processbase-realm-3.0/target
/processbase-ui-app-3.0/target
/processbase-ui-bam-3.0/target
/processbase-ui-bpm-3.0/target
/processbase-ui-core-3.0/target
/processbase-bpm-servlets-3.0/target
/esteid
/processbase-cmis/target/classes/org/processbase/cmis/LiferayAuthenticator.class
/processbase-cmis/target/classes/org/processbase/cmis/LiferayCurrentIdentityFilter.class
/processbase-cmis/target/maven-archiver/pom.properties
/processbase-cmis/target/processbase-cmis-1.0.jar
/processbase-cmis/target/surefire-reports/TEST-org.processbase.cmis.AppTest.xml
/processbase-cmis/target/surefire-reports/org.processbase.cmis.AppTest.txt
/processbase-cmis/target/test-classes/org/processbase/cmis/AppTest.class