/processbase-bpm-portlets-3.0/target
/processbase-engine-bam-3.0/target
/processbase-engine-bpm/target
/processbase-realm-3.0/target
/processbase-ui-app-3.0/target
/processbase-ui-bam-3.0/target
/processbase-ui-bpm-3.0/target
/processbase-ui-core-3.0/target
/processbase-bpm-servlets-3.0/target
/processbase-raports/target
/esteid
/processbase-cmis/target
.project
.classpath
.settings/
/aar-realm
/process-legislations/target