<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <!--<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>-->
    <!--<property name="hibernate.connection.url">jdbc:oracle:thin:@172.25.8.169:1521:processbase</property>-->
    <!--<property name="hibernate.connection.username">processbase</property>-->
    <!--<property name="hibernate.connection.password">processbase</property>-->
    <property name="hibernate.connection.datasource">jdbc/pbcore2</property>
    <mapping resource="org/processbase/util/db/PbProcessSection.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbProcessAcl.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbHelp.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbAttachment.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbActivityUi.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbSection.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbDashboard.hbm.xml"/>
    <mapping resource="org/processbase/util/db/PbDashboardAcl.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
