<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Activate Spring annotation support -->
    <!--<context:annotation-config/>-->

    <!-- beans -->
    <!-- <bean id="panelModuleService" class="org.processbase.ui.osgi.impl.PbPanelModuleServiceImpl"/> -->

	<!-- <bean id="log4jInitialization"
	 class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
	   <property name="targetClass"
	      value="org.springframework.util.Log4jConfigurer" />
	   <property name="targetMethod" value="initLogging" />
	   <property name="arguments">
	      <list>
	         <value>conf/log4j.xml</value>
	      </list>
	   </property>
	</bean>
 -->
</beans>

