/**************************
 * special style
 **************************/
.v-button-special:focus {

}

.v-button-special:focus .v-button-wrap {

}

.v-button-special:active,
.v-pressed.v-button-special {

}

.v-button-special:active .v-button-wrap,
.v-pressed.v-button-special .v-button-wrap {

}

.v-button-special:active .v-button-caption,
.v-pressed.v-button-special .v-button-caption {

}

.v-button-special .v-button-special.v-pressed {
    background: none;
    height: 27px;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.v-disabled.v-button-special {
    padding-top: 10px;
    background: none;
    height: 47px;
    opacity: 1;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.v-button-special .v-button-wrap  {
    padding: 5px 13px 0px 13px;
    background: none;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.v-disabled.v-button-special .v-button-wrap {
    padding: 5px 13px 5px 13px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #EE5311;
    background: none  repeat scroll 0% 0% white;
    border: 1px solid #babfc0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


.v-disabled.v-button-special:after {
    border-width: 7px 7px 0pt;
    border-style: solid; 
    border-color: #babfc0 transparent transparent;
    content: ""; 
    display: block; 
    height: 0pt; 
    margin: auto;
    width: 0pt; 
    z-index: 20;
}


.v-button-special .v-button-caption {
    color: #777F85;
    font-size: 13px;
}

.v-button-special .v-button-caption:hover {
    color: #3b4b57;
    font-size: 13px;
}


.v-disabled.v-button-special .v-button-caption {
    color: #EE5311;
    text-shadow: none;
    font-size: 13px;
}


/********************************
 * "with-icon" style
 ********************************/
.v-button-special.with-icon .v-button-wrap {
    padding-left: 8px;
}
